/* COMMON */
* {
    margin: 0;
    padding: 0;
    font-size: 0;
}

body {
    box-sizing: border-box;
    /* Chrom, Safari Broweser */
    -webkit-box-sizing: border-box; 
    /* firefox Browser */
    -moz-box-sizing: border-box;
    word-break: break-all;
    font-family: 'Heebo', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

/* 앞의 점 없애기 */
ul {
    list-style-type: none;
}

.header-area {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}


/* Navigation Bar1 */

/* Animation effect */
.navbar-fade {
    animation-name: navbar-fade;
    animation-duration: 0.5s;
    -webkit-animation-name: navbar-fade;
    -webkit-animation-duration: 0.5s;
}

@keyframes navbar-fade {
    from { opacity: .4}
    to { opacity: 1 }
}

@-webkit-keyframes navbar-fade {
    from { opacity: .4}
    to { opacity: 1 }
}

/* Javascript에서 동적으로 추가 제거해주기 때문 */
.header-area.navbar-fixed {
    position: fixed;
}

/* 자식선택자*/
.header-area > .navbar {
    width: calc(100% - 120px);
    margin: 0 60px;
    overflow: hidden;
}

/*@media: navBar의 width를 브러우저의 너비에 따라 바꾸기 위해
즉 반응형 웹을 만들기 위해 media query 사용! 화면의 종류와 크기에
따라서 디자인을 달리 줄 수 있는 CSS의 기능입니다. */

 /* 반응형 - 브라우저 너비가 992px 이상일 경우 적용되는 CSS블록 */
@media (min-width: 992px) {
    .header-area > .navbar {
        max-width: 900px;
        margin: 0 auto;
    }
}

 /* 반응형 - 브라우저 너비가 1200px 이상일 경우 적용되는 CSS블록 */
@media (min-width: 1200px) {
    .header-area > .navbar {
        max-width: 1000px;
    }    
}

/* navbar-brand 라는 태그를 세로 가운데 정렬 */
.header-area > .navbar > .navbar-brand {
    display: inline-block;
    /* 위에서 부터 50% 떨어진곳에 navbar-brand 위치 */
    position: absolute;
    top: 50%;
    /* 자신의 높이에 50% 해당하는 길이 만큼 위로 끌어올림  */
    transform: translateY(-50%);
    font-size: 32px;
    cursor: pointer;
}

.header-area > .navbar > .navbar-toggler * {
    font-size: 32px;
}

/* navbar-toggler 클래스 정의 */
.header-area > .navbar > .navbar-toggler {
    float: right;
    height: 70px;
    line-height: 70px;
    font-size: 32px;
    cursor: pointer;
}

/* 반응형 - 992px이상일 경우 toggler 숨김 */
@media(min-width: 992px) {
    .header-area > .navbar > .navbar-toggler {
        display: none;
    }
}

.header-area > .navbar > .navbar-menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 70px;
    left: 0;
    width: 100%;
    height:0px;
    transition: 0.5s ease;
    overflow: hidden;
}

.header-area > .navbar > .navbar-menu.show {
    height: 200px;
}

.header-area > .navbar > .navbar-menu > .nav-item {
    float: none;
    display: block;
    height: 50px;
    line-height: 50px;
}

/* 마우스 포인터가 올라와있을때 색상 지정 */
.header-area > .navbar > .navbar-menu > .nav-item:hover * {
    background-color: rgba(0, 0, 0, 0.4);
}

/* navbar-menu 링크들의 폰트색상 지정 */
.header-area > .navbar > .navbar-menu > .nav-item > .nav-link {
    display: block;
    padding-left: 50px;
    color:white;
    cursor: pointer;
}

/* 반응형 - 992px 이상일때 보여지는 스타일 */
@media (min-width: 992px) {
    .header-area > .navbar > .navbar-menu {
        position: relative;
        background-color: transparent;
        float: right;
        top: 0;
        width: auto;
        height: auto;
        transition: none;
    }

    .header-area > .navbar > .navbar-menu.show {
        height: auto;
    }

    .header-area > .navbar > .navbar-menu > .nav-item {
        display: inline-block;
        height: 70px;
        line-height: 70px;
    }

    .header-area > .navbar > .navbar-menu > .nav-item:hover * {
        background-color: transparent;
    }

    .header-area > .navbar > .navbar-menu > .nav-item > .nav-link {
        display: block;
        padding: 0 20px;
        color: black;
    }
}

/* Imgage Slide(이미지슬라이드) */

/* SECTION CONTAINER */
.section-container {
	max-width: 1000px;
	margin: 0 auto;
}

/* WELCOME AREA */
.welcome-area {
	height: auto;
}

.welcome-area > .container {
	position: relative;
	height: 100%;
}

.welcome-area > .container > .image-slide {
	height: 100%;
}

.welcome-area > .container > .image-prev,
.welcome-area > .container > .image-next {
	cursor: pointer; 
	position: absolute;
	top: 50%;
	width: auto;
    padding: 16px;    
    margin-top: -22px; /* margin-top: 위로 끌어올려지게 됨 */
	color: white;
	font-weight: bold;
	font-size: 18px;
    transition: 0.6s ease;
    /* 꼭지점의 둥근스타일 */
    border-radius: 0 3px 3px 0;
    /* not drag */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.welcome-area > .container > .image-next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.welcome-area > .container > .image-prev:hover,
.welcome-area > .container > .image-next:hover {
	background-color: rgba(0,0,0,0.8);
}

.welcome-area > .container > .dots {
	position: absolute;
	width: 100%;
	bottom: 10px;
	text-align: center;
}

.welcome-area > .container > .dots > .dot {
	cursor: pointer;
	height: 4px;
	width: 30px;
	margin: 0 2px;
	background-color: #717171;
	display: inline-block;
	transition: background-color 0.6s ease;
}

/* dot active 이거나 hover 되었을때 background */
.welcome-area > .container > .dots > .dot.active,
.welcome-area > .container > .dots > .dot:hover {
	background-color: #ddd;
}

/* Animation Effect */
.welcome-area > .container > .fade {    
	animation-name: fade; /* @keyframes 이름 */
    animation-duration: 1.5s;  /* 타임 프레임의 길이, 키프레임이 동작하는 시간을 설정할 때 사용 */
    -webkit-animation-name: fade;  /* @-webkit-keyframes 이름 */
    -webkit-animation-duration: 1.5s;
    -moz-animation-name: fade; /* @-moz-keyframes 이름 */
    -moz-animation-duration: 1.5s;
}

/* 투명도 0.4 ~ 1로 변경 */
/* @keyframes: CSS 애니메이션에서 구간을 정하고 각 구간별로 어떤 스타일을 적용시킬지 정하는 문법 */
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Vendor prefixes: Cross Browsing (Chrome & Safari)*/
@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@-moz-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}


/* About SECTION */

section {
    padding: 100px 0;
}

.title {
    font-size: 50px;
    font-weight: bold;
    text-align: center; /* 가운데 정렬 */    
    letter-spacing: 3px; /* 글자간 간격 */    
    padding-bottom: 100px;
}

.title::after {
    content: "";
    display: block;
    width: 100px;
    height: 10px;
    margin: 0 auto;
    background-image: linear-gradient(to right, royalblue, aquamarine);
}


/* ABOUT SECTION */
.about-area {
	height: auto;
	position: relative;
}

.about-area > .picture {
	display: block;
	text-align: center;
	padding: 20px;
}

/* 반응형 - 992px이상일 경우 picture이 40% 차지하도록 */
@media (min-width: 992px) {
	.about-area > .picture {
		width: calc(40% - 40px);
		display: inline-block;
	}
}


.about-area > .picture > img {
	max-width: 300px;
	max-height: 300px;
    border-radius: 15px;/* img 테두리 둥글게 */    
}

.about-area > .picture > .name {
	font-size: 25px;
	text-align: center;
	padding: 15px 0;
}

.about-area > .picture > .description {
	font-size: 12px;
	font-family: 'Noto Sans KR', sans-serif;
}


.about-area > .text {
	display: block;
	padding: 30px;
}

/* 반응형 - 992px이상일 경우 60%만 차지하도록 */
@media (min-width: 992px) {
	.about-area > .text {
		width: calc(60% - 100px);
		display: inline-block;
		padding: 0 50px;
	}
}

/* about-area자손에 해당하는 모든요소들의 font-size:16px  */
.about-area > .text * {
	font-size: 16px;
}

.about-area > .text > .intro {
	padding: 20px 0;
    font-family: 'Noto Sans KR', sans-serif;    
    letter-spacing: 1.5px; /* 글자사이 간격 */
    
}

.about-area > .text > ul {
	padding: 20px 0;
}

.about-area > .text > ul > li {
	height: 40px;
}


.about-area > .text > ul > li > .info {
	color: #777;
}


.about-area > .text > ul > li > .info > i {
	color: royalblue;
}

.about-area > .text > .sns {
	text-align: right;
}

/* 반응형 - 992px 이상일 경우 정렬을 왼쪽정렬로 */
@media (min-width: 992px) {
	.about-area > .text > .sns {
		text-align: left;
	}
}


.about-area > .text > .sns > a {
	width: 50px;
	line-height: 50px;
	background-color: #eee;
	border-radius: 5px;
	font-size: 16px;
	display: inline-block;
	text-align: center;
	cursor: pointer; /* 마우스 커서 변경 */
}

/* 마우스 올렸을때 효과 */
.about-area > .text > .sns > a:hover {
	background-image: linear-gradient(to right, royalblue , aquamarine);
}

/* Skills SECTION */

/* Skills AREA */
.skills-area {
	height: auto;
	background-color: #f9f9ff;
}

.skills-area > .container {
	text-align: center;
}

.skills-area > .container > .item {
	height: auto;
	background-color: white;
	padding: 20px;
	margin: 20px;
	text-align: left;
	transition: all 0.5s ease;
}

/* 마우스 닿았을 때 효과 */
.skills-area > .container > .item:hover {
	transform: scale(1.025);
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

/* 아이콘 속성 */
.skills-area > .container > .item > .icon {
	padding: 10px 0;
	display: inline-block;
}

/* <i>태그 속성 */
.skills-area > .container > .item > .icon > span > i {
	font-size: 48px;
	color: #aaa;
}

.skills-area > .container > .item > .service {
	font-size: 32px;
	font-weight: bold;
	padding: 10px 0;
}

.skills-area > .container > .item > .content {
	font-size: 16px;
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: 1.5px;
	padding: 10px 0;
}


/* Portfolio SECTION */

.portfolio-area {
	height: auto;
}

.portfolio-area > .filter > .list {
	text-align: center;
}

.portfolio-area > .filter > .list > .listItem {
	display: inline-block;
	font-weight: bold;
	padding: 0 20px;
	font-size: 16px;
	cursor: pointer;
}

/* list(All, uiux, java, db)에 마우스 hover, active시 color 변경 */
.portfolio-area > .filter > .list > .listItem:hover,
.portfolio-area > .filter > .list > .listItem.active {
	color: royalblue;
}

.portfolio-area > .container {
	padding-top: 50px;
}

.portfolio-area > .container > .filterItem {
	display: none;
	width: calc(100% - 40px);
    margin: 20px;
    /* 20px로 인해 좌우 40px늘어난것을 calc연산으로 상쇄 */
	text-align: center;
}

/* 반응형 - 992px 이상 fillterItem 한줄에 2개표시  */
@media (min-width: 992px) {
	.portfolio-area > .container > .filterItem {
        width: calc(50% - 40px);
        /* 한줄에 2개의 item 표시 */
    }
}
    
    
.portfolio-area > .container > .filterItem.show {
	display: inline-block;
}

.portfolio-area > .container > .filterItem > .image {
	position: relative;
	max-height: 700px;
}

/* 반응형 - 992px 이상 image class 높이 300px */
@media (min-width: 992px) {
	.portfolio-area > .container > .filterItem > .image {
		height: 300px;
	}
}

/* image 태그 안 overay */
.portfolio-area > .container > .filterItem > .image > .overlay {    
	position: absolute; /* overay는 image tag를 꽉 채워야하므로 */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    opacity: 0; /* 투명하게 */    
	transition: all 0.3s ease;
	cursor: pointer;
}

/* overlay효과는 image class가 hover 되었을때 overlay를 변경 */
.portfolio-area > .container > .filterItem > .image:hover > .overlay {
	background-image: linear-gradient(to right, royalblue , aquamarine);
	opacity: 0.9;
}

/* image모양 아이콘 */
.portfolio-area > .container > .filterItem > .image > .overlay > i {
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%); /* 정가운데 위치 */    
	color: white;
	font-size: 48px;
}

/* image 테두리 둥글게 */
.portfolio-area > .container > .filterItem > .image > img {
	border-radius: 5px;
}

/* 메인제목 스타일 지정 */
.portfolio-area > .container > .filterItem > .main {
	font-size: 24px;
	font-weight: bold;
	padding: 10px 0;
}

/* 부제목 스타일 지정 */
.portfolio-area > .container > .filterItem > .sub {
	font-size: 16px;
	color: #777;
}

/* 상세설명은 클릭하지 않았을때는 안보이게 처리 */
.portfolio-area > .container > .filterItem > .text {
	display: none;
}

/* portfolio 클릭 시 나타나는 상세화면 모달페이지 */
/* id접근자 */
#portfolioModal {
	display: none;
    position: fixed;     
	z-index: 100; /* NavgationBar가 99이기 때문에 NavagationBar보다 더 위에 올라올 수 있도록 100 */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.9);
	text-align: center;
	overflow: hidden;
}

/* 모달화면 X표시 */
#portfolioModal > .close {
	display: block;
	text-align: right;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
	cursor: pointer;
	padding: 0 20px;
}

/* x표시 hover 시 색상변경 */
#portfolioModal > .close:hover,
#portfolioModal > .close:focus {
	color:#bbb;
}

#portfolioModal > .container {
	width: 100%;
	height: auto;
}

/* 상세페이지 이미지 크기 */
#portfolioModal > .container > img {
	width: calc(100% - 40px);
	padding: 20px;
}

/* 반응형 - 화면 992px일때 이미지크기 700px */
@media (min-width: 992px) {
	#portfolioModal > .container > img {
		max-width: 700px;
	}
}

/* Modal - Portfolio */

/* Modal Main Title */
#portfolioModal > .container > .modal-main {
	position: relative;
	font-size: 24px;
	font-weight: bold;
	color: white;
	padding: 10px 0;
}

/* Modal Sub Title */
#portfolioModal > .container > .modal-sub {
	font-size: 20px;
	color: white;
	padding: 10px 0;
}

/* Detail description of Portfolio */
#portfolioModal > .container > .modal-text {
	font-size: 16px;
	color: #bbb;
}


/* CONTACT SECTION */

.contact-area{
	height: auto;
	position: relative;
	background-color: #f9f9ff;
}

.contact-area > .title {
	font-size: 50px;
    font-weight: bold;
    text-align: center; /* 가운데 정렬 */    
    letter-spacing: 3px; /* 글자간 간격 */    
    padding-bottom: 20px;
}
.contact-area > .subtitle {
	  display: block;
	  text-align: right;
	  padding: 20px;
}
  
@media (min-width: 992px) {
	  .about-area > .subtitle {
		  width: calc(40% - 40px);
		  display: inline-block;
	}
}
  
.contact-area > .subtitle >.name {
	font-size: 25px;
	text-align: center;
	padding: 10px 0;
}
  
.contact-area > .container{
	display: block;
	padding: 30px;
	
}

.contact-area > .container > .form-area > .info {
	font-size: 15px;
	text-align: center;
	padding: 10px 0;
}
  
@media (min-width: 992px) {
	.contact-area > .container {
		width: calc(90% - 100px);
		padding: 0 10px;
		margin: 0px auto;
	}
}
    
.contact-area > .container > .form-area{
	background: #F9F9F9;
	padding: 25px;
	margin: 20px 0;
	max-width: 100%;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
  
#form h3 {
	display: block;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 10px;
}
  
#form h4 {
	margin: 5px 0 15px;
	display: block;
	font-size: 13px;
	font-weight: 400;
}
    
.contact-area > .container > .form-area > .text > fieldset{
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}
  
  
.contact-area > .container > .form-area > .text > fieldset > input{
	width: 100%;
	border: 1px solid #ccc;
	background: #FFF;
	margin: 0 0 5px;
	padding: 0px;
	height: 30px;	
	font: 400 12px/16px 'Heebo', sans-serif;
}
  
#form textarea {
	width: 100%;
	border: 1px solid #ccc;
	background: #FFF;
	margin: 0 0 5px;
	padding: 0px;
	height: 150px;
	max-width: 100%;
	resize: none;	
	font: 400 12px/16px 'Heebo', sans-serif;
}
  
.contact-area > .container > .form-area > .text > fieldset > input:hover{
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 4px solid #aaa;    
}
  
#form textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 4px solid #aaa;
}
  
.contact-area > .container > .form-area > .text fieldset > button{
	cursor: pointer;
	width: 100%;
	border: none;
	background: skyblue;
	color: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
}
  
.contact-area > .container > .form-area > .text fieldset > button:hover{
	background-image: linear-gradient(to right, royalblue , aquamarine);
	-webkit-transition: background-color 0.3s ease-in-out;
	-moz-transition: background-colr 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
  }
  
.contact-area > .container > .form-area > .text fieldset > button:active{
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* FOOTER SECTION */
.footer-area {
	height: auto;
	text-align: center;
	background-color: black;
}

.footer-area * {
	color: white;
}

.footer-area > .sns > .item {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
}

.footer-area > .sns > .item > i {
	font-size: 24px;
}

.footer-area > .info > p {
	font-size: 16px;
	padding: 10px 0;
}